/* line 5, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale {
  0% {
    font-size: 150%;
  }
  100% {
    font-size: 200%;
  }
}
/* line 26, ../sass/style.scss */
body {
  width: 100%;
  height: 2600px;
  font-size: 62.5%;
  margin: 5px auto;
  text-align: center;
  background-color: #214686;
  color: #bbc8e6;
  font-family: 'Roboto', sans-serif;
}
/* line 35, ../sass/style.scss */
body #menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 44, ../sass/style.scss */
body #menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
/* line 49, ../sass/style.scss */
body #menu li a {
  text-decoration: none;
  color: #000;
}
/* line 53, ../sass/style.scss */
body #menu li.active a:hover {
  color: #000;
}
/* line 56, ../sass/style.scss */
body #menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* line 59, ../sass/style.scss */
body #menu li a,
body #menu li.active a {
  padding: 9px 18px;
  display: block;
}
/* line 64, ../sass/style.scss */
body #menu li.active a {
  color: #fff;
}
/* line 67, ../sass/style.scss */
body #menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 79, ../sass/style.scss */
body #fullpage #header {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #594255;
  position: relative;
  z-index: 1;
}
/* line 87, ../sass/style.scss */
body #fullpage #header:after {
  display: block;
  content: "";
  opacity: .6;
  background: url("../resources/header.jpg");
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 101, ../sass/style.scss */
body #fullpage #header li {
  display: inline-block;
  width: 10%;
  margin: 100px 5%;
  position: relative;
}
/* line 107, ../sass/style.scss */
body #fullpage #header li img {
  width: 100%;
  opacity: 0.6;
  transition: all .5s ease-in-out;
  border-radius: 100%;
}
/* line 114, ../sass/style.scss */
body #fullpage #header li p {
  font-size: 80%;
  position: absolute;
  width: 60%;
  top: -5%;
  left: 55%;
  display: none;
  transition: all 1s ease-in-out;
}
/* line 125, ../sass/style.scss */
body #fullpage #header li:first-child p {
  left: -20px;
}
/* line 131, ../sass/style.scss */
body #fullpage #header li:hover img {
  transform: scale(1.8);
  opacity: 1;
}
/* line 136, ../sass/style.scss */
body #fullpage #header li:hover p {
  display: block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
/* line 151, ../sass/style.scss */
body #fullpage .section {
  width: 100%;
  position: relative;
  font-size: 150%;
}
/* line 155, ../sass/style.scss */
body #fullpage .section li {
  display: inline;
}
/* line 157, ../sass/style.scss */
body #fullpage .section li .story {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 30%;
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}
/* line 166, ../sass/style.scss */
body #fullpage .section li .story .fox {
  color: #f8e58c;
}
/* line 170, ../sass/style.scss */
body #fullpage .section li .story .prince {
  color: #ebf6f7;
}
/* line 174, ../sass/style.scss */
body #fullpage .section li img {
  position: absolute;
  top: 20%;
  right: 5%;
  display: inline-block;
  border-radius: 5%;
}
